<div class="main-container" style="margin-top:-40px;">
    <!-- main container -->
    <div class="container">
        <div class="row">
            <div class="col-md-7 content col-sm-12">
                <!-- content -->
                <div class="row">
                    <div class="col-md-12">
                        <h1>Get In Touch With Fixit</h1>
                        <p>Simply complete the enquiry form &amp; We will respond as soon as we can.</p>
                    </div>
                    <div class="col-md-12">
                        <form class="contact-form" name="userForm" ng-submit="sendQuery(userForm.$valid, user)">
                            <div class="row">
                                <!-- Text input-->
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Name<span class="required">*</span></label>
                                        <input name="name" type="text" placeholder="Full Name" ng-model="user.name" class="form-control input-md" required>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email<span class="required">*</span></label>
                                        <input name="email" type="email" placeholder="Email" ng-model="user.email" class="form-control input-md" required>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label" for="subject">Subject<span class="required">*</span></label>
                                        <select name="subject" ng-model="user.subject" class="form-control input-md" required>
                                            <option value="" selected>Select subject</option>
                                            <option value="Want to hire">hire</option>
                                            <option value="have query">query</option>
                                            <option value="drop message">message</option>
                                            <option value="have complain">complain</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Textarea -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="message">Message<span class="required">*</span></label>
                                        <textarea class="form-control" ng-model="user.message" placeholder="query/message/work details/complain" rows="7" name="message" required></textarea>
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                        </form>
                        </div>
                    </div>
                </div>
                <!-- /.content -->
                <div class="col-md-offset-1 col-md-4 sidebar col-sm-12">
                    <!-- sidebar -->
                    <div class="row">
                        <div class="col-md-12 widget col-sm-4">
                            <div class="well-bg widget-address">
                                <div class="well-inner"> <i class="fa fa-home"></i>
                                    <h3>Address</h3>
                                    <address>
                                    K-86, Street Number - 12,
                                        <br> Som Bazar Road, Raja Puri,
                                        <br> Sector-3 Dwarka-75
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 widget col-sm-4">
                            <div class="well-bg widget-schedule">
                                <div class="well-inner"> <i class="fa fa-clock-o"></i>
                                    <h3>Schedule</h3>
                                    <ul class="listnone">
                                        <li>Mon - Fri:<strong> 9am - 6pm</strong></li>
                                        <li>Sat: <strong> Holiday</strong></li>
                                        <li>Sun: Appointments only.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 widget col-sm-4">
                            <div class="well-bg widget-phone">
                                <div class="well-inner"> <i class="fa fa-phone"></i>
                                    <h3>Phone</h3>
                                    <ul class="listnone">
                                        <li>Office: +91-6566-3737 </li>
                                        <li>Mobile: +91-7777-00-3737 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.sidebar -->
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.764835255589!2d77.04746131452964!3d28.606830882427996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1ad34eaec3c3%3A0xd7b560a117a2e218!2s75%2C+Dwarka+Sector-3%2C+Dwarka%2C+Delhi%2C+110078!5e0!3m2!1sen!2sin!4v1485836322276" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
