<div ng-controller="navbarCtrl">
    <div class="collapse" id="search-area-v2">
        <div class="well-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
            </span> </div>
                        <!-- /input-group -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
            </div>
        </div>
    </div>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 welcome-msg col-sm-6 col-xs-12">
                    <p>Welcome to <strong>AC Repair Services</strong></p>
                </div>
                <div class="col-md-8 top-nav col-sm-6 col-xs-12">
                    <ul>
                        <li><a><i class="fa fa-envelope"></i> acrepair@gmail.com</a></li>
                        <li><a><i class="fa fa-map-marker"></i> K-86, Street Number - 12,
Som Bazar Road, Raja Puri, Opposite Dwarka-Sector-4 </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-transparent navbar-fixed-top" style="top:0px;">
        <div class="top-bar-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 navbar-brand col-sm-4 col-xs-5">
                        <a style="color: white; font-size: 28px; position: absolute; margin-top: 24px;" href="/#/">
                            <img style="width: 176px; margin-top: -53px;" src="/assets/images/logo.png">
                        </a>
                    </div>
                    <div class="col-md-offset-1 col-md-8">
                        <div class="row">
                            <div class="col-md-4 store-block col-sm-4 hidden-xs">
                                <div class="store-icon"><i class="fa fa-clock-o"></i></div>
                                <div class="store-box"><span class="store-title">Service time</span>
                                    <div class="store-time">24 X 7</div>
                                </div>
                            </div>
                            <div class="col-md-4 need-block hidden-sm hidden-xs">
                                <div class="need-icon"><i class="fa fa-phone"></i></div>
                                <div class="need-box"><span class="help-title">Need help?</span>
                                    <div class="help-number">+91-7777-00-3737</div>
                                </div>
                            </div>
                            <div class="col-md-4 text-right col-sm-4 col-xs-7"> <a href="/#/contact-us" class="btn btn-default">Make An Appointment</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 col-xs-4">
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div id="navigation">
                            <ul>
                                <li class="active">
                                    <a href="/#/">Home</a>
                                </li>
                                <li><a href="/#/about-us" title="About Us">About Us</a></li>
                                <li><a class="animsition-link" style="cursor:pointer">Our Services</a>
                                    <ul>
                                        <li><a class="animsition-link" style="cursor:pointer">Repair</a>
                                            <ul>
                                                <li><a href="acrepair.html" class="animsition-link">AC Repair</a></li>
                                                <li><a href="acrepair.html" class="animsition-link">Wasing Machine Repair</a></li>
                                                <li><a href="acrepair.html" class="animsition-link">Refrigrator repair</a></li>
                                                <li><a href="acrepair.html" class="animsition-link">Microwave Oven Repair</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="animsition-link" style="cursor:pointer">On rent</a>
                                            <ul>
                                                <li><a href="acrepair.html" class="animsition-link">AC On rent</a></li>
                                                <li><a href="acrepair.html" class="animsition-link">Wasing Machine On rent</a></li>
                                                <li><a href="acrepair.html" class="animsition-link">Refrigrator On rent</a></li>
                                                <li><a href="acrepair.html" class="animsition-link">Microwave Oven On rent</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="animsition-link" style="cursor:pointer">Services area</a>
                                    <ul>
                                        <li><a href="acrepair.html" class="animsition-link">AC Service Area</a></li>
                                        <li><a href="acrepair.html" class="animsition-link">Wasing Machine Service Area</a></li>
                                        <li><a href="acrepair.html" class="animsition-link">Refrigrator Service Area</a></li>
                                        <li><a href="acrepair.html" class="animsition-link">Microwave Oven Service Area</a></li>
                                    </ul>
                                </li>
                                <li><a href="/#/AMC" title="Feature">AMC</a></li>
                                <li><a href="/#/brands" title="Feature">Brands</a></li>
                                <li><a href="/#/contact-us" title="Contact Us">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div ng-if="!home" class="col-md-12 col-sm-12 col-xs-12" style="background:url('/assets/images/slider-large-3.jpg');height:120px;width:100%;background-size:cover;padding:0px;">
                        <div class="slider-img" style="height:100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>