<div ng-controller="navbarCtrl">
    <div class="collapse" id="search-area-v2">
        <div class="well-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
            </span> </div>
                        <!-- /input-group -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
            </div>
        </div>
    </div>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 welcome-msg col-sm-6 col-xs-12">
                    <p>Welcome to <strong>AC Repair Services</strong></p>
                </div>
                <div class="col-md-8 top-nav col-sm-6 col-xs-12">
                    <ul>
                        <li><a><i class="fa fa-envelope"></i> acrepair@gmail.com</a></li>
                        <li><a><i class="fa fa-map-marker"></i> K-86, Street Number - 12,
Som Bazar Road, Raja Puri, Opposite Dwarka-Sector-4 </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-transparent navbar-fixed-top" style="top:0px;">
        <div class="top-bar-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 navbar-brand col-sm-4 col-xs-5">
                        <a style="color: white; font-size: 28px; position: absolute; margin-top: 24px;" href="/#/">
                            <img style="width: 176px; margin-top: -53px;" src="/assets/images/logo.png">
                        </a>
                    </div>
                    <div class="col-md-offset-1 col-md-8">
                        <div class="row">
                            <div class="col-md-4 store-block col-sm-4 hidden-xs">
                                <div class="store-icon"><i class="fa fa-clock-o"></i></div>
                                <div class="store-box"><span class="store-title">Service time</span>
                                    <div class="store-time">24 X 7</div>
                                </div>
                            </div>
                            <div class="col-md-4 need-block hidden-sm hidden-xs">
                                <div class="need-icon"><i class="fa fa-phone"></i></div>
                                <div class="need-box"><span class="help-title">Need help?</span>
                                    <div class="help-number">+91-7777-00-3737</div>
                                </div>
                            </div>
                            <div class="col-md-4 text-right col-sm-4 col-xs-7"> <a href="/#/contact-us" class="btn btn-default">Have query?</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 col-xs-4">
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div id="navigation">
                            <ul>
                                <li class="active">
                                    <a href="/#/">Home</a>
                                </li>
                                <li><a href="/#/about-us" title="About Us">About Us</a></li>
                                <li><a class="animsition-link" href="javascript:void(0)">Our Services</a>
                                    <ul>
                                        <li><a class="animsition-link" href="javascript:void(0)">Repair</a>
                                            <ul>
                                                <li><a href="/" class="animsition-link">AC Repair</a></li>
                                                <li><a href="/" class="animsition-link">Wasing Machine Repair</a></li>
                                                <li><a href="/" class="animsition-link">Refrigrator repair</a></li>
                                                <li><a href="/" class="animsition-link">Microwave Oven Repair</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="animsition-link" href="javascript:void(0)">On rent</a>
                                            <ul>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Dwarka" title="AC on rent in Delhi">AC on rent in Dwarka</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Paschim-Vihar" title="AC on rent in Delhi">AC on rent in Paschim vihar</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Hari-Nagar" title="AC on rent in Delhi">AC on rent in Hari Nagar</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Shailmar-Bagh" title="AC on rent in Delhi">AC on rent in Shalimar Bagh</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Lodi-Colony" title="AC on rent in Delhi">AC on rent in Lodi Colony</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Delhi-Cantt" title="AC on rent in Delhi">AC on rent in Delhi Cantt</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Dhaula-Kuan" title="AC on rent in Delhi">AC on rent in Dhaula Kuan</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Ramesh-Nagar" title="AC on rent in Delhi">AC on rent in Ramesh Nagar</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Vika-Center-Puri" title="AC on rent in Delhi">AC on rent in Vikas Puri</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Green-Park" title="AC on rent in Delhi">AC on rent in Green Park</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Hauz-Khas" title="AC on rent in Delhi">AC on rent in hauz khas</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Saket" title="AC on rent in Delhi">AC on rent in Saket</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Malviya-Nagar" title="AC on rent in Delhi">AC on rent in Malviya Nagar</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Tilak-Nagar" title="AC on rent in Delhi">AC on rent in Tilak Nagar</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-New-Friend-Center-Colony" title="AC on rent in Delhi">AC on rent in New Friends Colony</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Moti-Bagh" title="AC on rent in Delhi">AC on rent in Moti Bagh</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Chanakya-Puri" title="AC on rent in Delhi">AC on rent in Chanakya Puri</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-South-Delhi" title="AC on rent in Delhi">AC on rent in South Delhi</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-RK-Puram" title="AC on rent in Delhi">AC on rent in R K Puram</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Sarojini-Nagar" title="AC on rent in Delhi">AC on rent in Sarojni Nagar</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Defence-Colony" title="AC on rent in Delhi">AC on rent in Defence Colony</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Okhla" title="AC on rent in Delhi">AC on rent in Okhla</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Lajpat-Nagar" title="AC on rent in Delhi">AC on rent in Lajpat Nagar</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Rajori-Garden" title="AC Repair in Delhi">AC on rent in Rajori Garden</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Punjabi-Bagh" title="AC on rent in Delhi">AC on rent in Punjabi Bagh</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Subhash-Nagar" title="AC on rent in Delhi">AC on rent in Subhash Nagar</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Nariana" title="AC on rent in Delhi">AC on rent in Nariana</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Mehrauli" title="AC on rent in Delhi">AC on rent in Mehrauli</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Mahipal-Pur" title="AC on rent in Delhi">AC on rent in Mahipalpur</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Janak-Puri" title="AC on rent in Delhi">AC on rent in Janak Puri</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Mansarover-Garden" title="AC on rent in Delhi">AC on rent in Mansarover Garden</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Palam-Vihar" title="AC on rent in Delhi">AC on rent in Palam Vihar</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Udyog-Vihar" title="AC on rent in Delhi">AC on rent in Udyog Vihar</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Shona-Road" title="AC on rent in Delhi">AC on rent in Shona Road</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Town-House" title="AC on rent in Delhi">AC on rent in Town House</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-New-Colony" title="AC on rent Delhi">AC on rent in New Colony</a></li>
                                                <li><a class="animsition-link" href="/#/AC-On-Rent-Sushant-Lok" title="AC on rent in Delhi">AC on rent in Sushant Lok</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="animsition-link" href="javascript:void(0)" >Services area</a>
                                    <ul>
                                        <li><a href="/" class="animsition-link">AC Service Area</a></li>
                                        <li><a href="/" class="animsition-link">Wasing Machine Service Area</a></li>
                                        <li><a href="/" class="animsition-link">Refrigrator Service Area</a></li>
                                        <li><a href="/" class="animsition-link">Microwave Oven Service Area</a></li>
                                    </ul>
                                </li>
                                <li><a href="/#/AMC" title="Feature">AMC</a></li>
                                <li><a href="/#/brands" title="Feature">Brands</a></li>
                                <li><a href="/#/contact-us" title="Contact Us">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div ng-if="!home" class="col-md-12 col-sm-12 col-xs-12" style="background:url('/assets/images/slider-large-3.jpg');height:120px;width:100%;background-size:cover;padding:0px;">
                        <div class="slider-img" style="height:100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
